.cart_container {
  padding-bottom: 100px;

  h3 {
    text-align: center;
    margin: 50px 0;
    font-size: 23px;
  }

  .cart_list_price {
    display: flex;
    position: relative;

    @media (max-width: 1280px) {
      display: block;

      .cart_total_price {
        margin: 0;
        margin-top: 30px;
        border-color: #000;
      }
    }
  }

  .cart_list {
    width: 100%;
  }

  ul {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 20px 0;

    li {
      width: 100%;
      padding: 25px 0;

      border-bottom: 1px solid #ddd;

      & > div {
        display: flex;
        width: 100%;
        position: relative;
      }

      .list_item_info {
        & > a {
          margin-right: 15px;
        }

        & > div {
          display: flex;
          justify-content: space-between;
          width: 100%;

          & > div:first-of-type {
            margin-right: 20%;
            font-size: 13px;

            a {
              display: block;
              margin-bottom: 5px;
            }

            a:hover {
              text-decoration: underline;
            }

            :global(.delivery_info) {
              margin-top: 5px;
              font-size: 12px;
              color: #7d7d7d;
            }
            :global(.item_option) {
              margin-top: 15px;
              color: #777;
            }
          }

          @media (max-width: 768px) {
            display: block;
            :global(.item_option) {
              margin-bottom: 15px;
            }
          }
        }

        img {
          width: 83px;
          height: 83px;
          border: 1px solid #eee;
        }

        strong {
          font-size: 16px;
          padding-right: 42px;
        }

        button {
          all: unset;

          position: absolute;
          top: 2px;
          right: 0;

          display: flex;
          align-items: center;
          justify-content: center;

          color: #bebebe;
          cursor: pointer;
        }
      }

      .item_order_btn {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        box-sizing: border-box;
        padding-left: 120px;

        :global(.count_btn) {
          display: flex;
          box-sizing: border-box;

          button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;

            border: 1px solid #e5e5e5;

            width: 28px;
            height: 28px;

            cursor: pointer;
          }

          input {
            all: unset;
            width: 45px;
            height: 28px;

            text-align: center;
            background-color: #fff;

            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
          }

          .update_count_btn {
            width: 70px;
            margin-left: 10px;
            font-size: 12px;
          }
        }

        :global(.order_btn) {
          display: flex;
          gap: 6px;

          button {
            all: unset;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 85px;
            height: 32px;

            font-size: 13px;
            border-radius: 5px;

            cursor: pointer;

            &:first-of-type {
              border: 1px solid #c7c7c7;
              box-sizing: border-box;
              color: #555;
              background-color: #fff;
            }

            &:last-of-type {
              color: #fff;
              background-color: #333;
            }
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 15px;
        }
      }
    }
  }

  .summary {
    padding: 20px;
    border-bottom: 1px solid rgb(229, 229, 229);
    background: rgb(249, 249, 249);
    font-size: 13px;
  }

  .item_check_remove {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 7px;

    button {
      all: unset;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 85px;
      height: 32px;
      font-size: 13px;
      color: rgb(85, 85, 85);
      box-sizing: border-box;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 5px;

      cursor: pointer;

      &:hover {
        border-color: #000;
      }
    }
  }
}

.cart_total_price {
  position: sticky;
  top: 71px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;

  margin-left: 47px;

  height: 100%;

  & > div:nth-child(1) {
  }

  :global(.total_price) {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 35px;
    padding-top: 19px;

    display: flex;
    justify-content: space-between;
  }

  h3 {
    text-align: start;
    margin: 0 0 20px;
    padding-bottom: 19px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
  }

  span {
    font-size: 13px;
  }
  strong {
    font-size: 15px;
  }

  button {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 268px;
    width: 100%;
    height: 50px;

    border-radius: 5px;
    font-size: 15px;

    cursor: pointer;

    &:first-of-type {
      color: #fff;
      background-color: #333;
      margin-bottom: 10px;
    }

    &:last-of-type {
      border: 1px solid #c7c7c7;
      box-sizing: border-box;
      color: #555;
      background-color: #fff;
    }
  }

  :global(.flex) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.fixed_button {
  display: none;
  width: 100%;

  button {
    all: unset;
    height: 45px;
    width: 100%;
    font-size: 13px;

    &:first-of-type {
      border-top: 1px solid #c7c7c7;
      box-sizing: border-box;
      color: #555;
      background-color: #fff;
    }

    &:last-of-type {
      color: #fff;
      background-color: #333;
    }
  }

  @media (max-width: 1280px) {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.empty_cart {
  padding: 56px 0;
  font-size: 13px;
  text-align: center;
  color: #6d6d6d;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.info_use {
  h3 {
    width: 100%;
    text-align: start;

    margin: 50px 0px 20px;
    font-size: 16px;
  }

  & > div {
    padding: 20px;
    border: 1px solid rgb(229, 229, 229);
    color: rgb(109, 109, 109);
    font-size: 12px;
    line-height: 21px;
  }
}
