.home_container {
  width: 100%;
  margin: 0 auto;

  // background-color: green;

  h3 {
    text-align: center;
    font-size: 34px;

    color: #000;
    font-weight: bold;
    margin-bottom: 30px;

    p {
      color: #999;
      font-weight: normal;
      display: block;
      margin-top: 5px;
      font-size: 17px;
    }
  }
}

.site_wrap {
  margin: 0 auto;
  position: relative;

  max-width: var(--base-width);
  padding: 0 1.3rem;
}

.main_banner {
  .simple_slider_container {
    overflow: hidden;

    .main_banner_img {
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        display: block;
        margin: 0 auto;
        height: 550px;
      }

      .main_banner_text {
        position: absolute;
        width: 100%;
        max-width: var(--base-width);
        height: 300px;

        padding: 0 30px;

        box-sizing: border-box;

        top: 55%;
        left: 50%;

        .invi {
          opacity: 0;
        }

        transform: translate(-50%, -50%);

        .top_text {
          width: 100%;
          height: 38px;

          font-size: 1.2rem;
          color: #222;
          display: block;
          margin: 0 0 15px;
        }

        .bottom_text {
          width: 100%;
          height: 3rem;

          font-size: 2.35rem;
          color: #222;
          display: block;
          font-weight: 700;
        }
      }
    }
  }
}

.icon_category {
  position: relative;

  width: 100%;
  height: 202px;

  margin-top: -20px;

  & > ul {
    display: flex;

    width: 1280px;
    height: 193px;
    margin: 0 auto;

    box-sizing: border-box;

    padding: 40px 20px 0;
    border-radius: 60px 60px 0 0;

    background-color: #fff;

    li {
      position: relative;
      flex: 1;

      a {
        max-width: 4rem;
        max-height: 4rem;
        padding: 1.25rem;
        transition: box-shadow 0.25s;

        text-decoration: none;
        display: block;
        word-break: keep-all;
        background: #fafafa;
        border-radius: 50%;
        margin: 0 auto;
      }

      img {
        transition: all 0.25s;
        object-fit: contain;
      }

      & > div {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

.bests_seller {
  max-width: var(--base-width);
  padding: 0 1.3rem;

  margin: 0 auto;
  margin-top: 100px;
  position: relative;

  ul {
    height: 500px;
    display: flex;

    gap: 18px;
  }
}
.slide_item {
  height: 100%;
}
.list_item {
  .item_img {
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.9rem;
  }

  .item_info {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    .item_name {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .item_discription {
      font-size: 14px;
      color: #aaaaaa;
      margin-bottom: 10px;
    }

    .item_price {
      font-size: 14px;
      color: #aaaaaa;
      text-decoration: line-through;
    }
    .item_sale {
      font-size: 16px;
      margin-right: 3px;

      color: var(--color-discount);
      font-weight: bold;
    }
    .item_saleprice {
      font-size: 16px;
      color: #000000;
      font-weight: bold;
    }
  }
}

.event_banner_1 {
  margin: 120px 0;
}

.time_sale {
  margin: 120px 0;
  padding: 50px 0 0;
  position: relative;

  :global(.slick-track) {
    display: flex;
    height: auto;
  }
  :global(.slick-slide) {
    height: auto;
    padding: 3px 0;
  }
  :global(.slick-slide > div),
  :global(.slick-slide > div > div) {
    height: 100%;
  }

  .finite_slider_container {
    width: 100%;

    .list_item {
      height: 100%;
      padding: 0.6rem;
      background-color: #fff;
      overflow: hidden;
      border-radius: 1.2rem;
      box-sizing: border-box;
      margin: 0 9px;
      border: 0;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    width: 100%;
    height: 80%;
  }
}

.event {
  .multiple_slider_container {
    width: 100%;
    height: 325px;

    :global(.slick-track) {
      display: flex;
      gap: 50px;
      height: auto;
    }
    :global(.slick-slide) {
      height: auto;
    }
    :global(.slick-slide > div),
    :global(.slick-slide > div > div) {
      height: 100%;
    }
  }
}

.prd_ad {
  margin: 120px 0;

  .video_item {
    display: flex;
    justify-content: space-between;

    .video {
      width: 58%;

      video {
        width: 100%;
        height: 100%;
      }
    }

    .item {
      width: 40%;
      height: 410px;
      max-height: 32vw;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #dddcdc;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      li {
        width: 100%;
        display: flex;

        border-bottom: 1px solid #eee;
        margin: 0;
        padding: 20px 0;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
          border-bottom: none;
        }

        .item_img {
          width: 38%;
          display: inline-block;
          vertical-align: top;
        }

        .item_info {
          width: calc(100% - 43.5%);
          display: inline-block;
          vertical-align: top;
          padding: 0;
          margin: 0 0 0 20px;
        }
      }
    }
  }
}

.event_banner_2 {
  margin: 120px 0;

  & > div {
    display: flex;
    gap: 18px;
  }
}

.review {
  padding: 50px 0;
  background: #f9f9f9;

  ul {
    display: flex;
    gap: 18px;
    margin: 0;
    padding-bottom: 30px;

    li {
      width: calc(20% - 15px);
      padding: 0.6rem;
      background-color: #fff;
      height: auto;
      overflow: hidden;
      border-radius: 1.2rem;

      border: 0;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
    }
  }
}
