.timer_container {
  font-weight: bold;

  font-size: 14px;
  height: 26px;

  padding: 0 7px;

  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  border-radius: 0.5rem;
  background-color: var(--color-timer);
  opacity: 0;
  transition: all 0.5s ease-in;
}
