.complete_payment_info_container {
  padding: 14px;
  font-size: 16px;
  color: #666666;

  & > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 14px;

    button {
      all: unset;
      cursor: pointer;
      font-weight: bold;
      color: #333333;
    }
  }

  & > div:last-of-type {
    margin-top: 10px;
    padding: 13px 15px;
    background-color: #eff1f4;

    h3 {
      font-size: 18px;
      color: #333333;
    }

    strong {
      font-size: 17px;
      color: #3971ff;
    }
  }
}
