.main_banner_container {
  overflow: hidden;
  position: relative;

  &:hover {
    .arrow {
      opacity: 1;
    }
  }

  .main_banner_img {
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      margin: 0 auto;
      height: 550px;
    }

    .main_banner_text {
      position: absolute;
      width: 100%;
      max-width: var(--base-width);
      height: 300px;

      padding: 0 30px;

      box-sizing: border-box;

      top: 55%;
      left: 50%;

      .invi {
        opacity: 0;
      }

      transform: translate(-50%, -50%);

      .top_text {
        width: 100%;
        height: 38px;

        font-size: 1.2rem;
        color: #222;
        display: block;
        margin: 0 0 15px;
      }

      .bottom_text {
        width: 100%;
        height: 3rem;

        font-size: 2.35rem;
        color: #222;
        display: block;
        font-weight: 700;
      }
    }
  }

  .slider_page {
    position: absolute;
    bottom: 50px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);

    min-width: 70px;
    font-size: 15px;
    border-radius: 30px;

    padding: 5px 0;
    background: rgb(0 0 0 / 20%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    color: rgb(255 255 255 / 45%);

    line-height: 1.3;

    & > span:first-child {
      color: #fff;
    }
  }
}

.arrow {
  z-index: 5;
  width: 300px;
  position: absolute;
  display: block;

  opacity: 0;
  top: 50%;

  transition: all 0.3s ease-in;

  transform: translateY(-50%);

  &::after {
    content: "";
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;

    margin-top: -15px;

    border-top: 2px solid #444;
    border-left: 2px solid #444;

    margin-left: -7px;
  }
}

.pre_arrow {
  &::after {
    right: 0;
    transform: rotate(315deg);
  }
}

.next_arrow {
  right: 0;

  &::after {
    left: 0;
    transform: rotate(135deg);
  }
}
