.timesale_container {
  margin: 120px 0;
  padding: 50px 0 0;
  position: relative;

  :global(.slick-track) {
    display: flex;
    height: auto;
  }
  :global(.slick-slide) {
    height: auto;
    padding: 3px 0;
  }
  :global(.slick-slide > div),
  :global(.slick-slide > div > div) {
    height: 100%;
  }

  .finite_slider_container {
    width: 100%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    width: 100%;
    height: 80%;
  }
}

.timesale_item {
  & > div {
    margin: 0 9px;
    position: relative;
  }

  .timer {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .product_item {
    height: 100%;
    padding: 0.6rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: 1.2rem;
    box-sizing: border-box;

    border: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
  }
}
